security:
  cors_origin_methods: "GET,POST,OPTIONS"
  cors_origin_whitelist: http://localhost:3451
  auth_whitelist: "^caseworker-.+"
  auth_blacklist: "solicitor"
idam:
  base_url: http://localhost:5000
redis:
  host: localhost
  port: 6379
  ssl: false
  keyPrefix: "activity:"
  activityTtlSec: 5
  userDetailsTtlSec: 2
cache:
  user_info_enabled: true
  user_info_ttl: 600
  user_info_check_period: 120
app:
  requestTimeoutSec: 5
  storeCleanupCrontab: "* * * * *"

secrets:
  ccd:
    activity-redis-password: testPassword
    AppInsightsInstrumentationKey: "some-key"
